{% macro StatsAuswahl() -%}
<div class="p-2">
   <label for="tables" class="block text-sm font-medium text-gray-700 ml-5">Liste der Statistiken</label>
   <form action="/statistik" method="post">
     <input type="hidden" id="usertId" name="userId" value="{{session['user_id']}}">
     <select id="stats"
	     name="stats"
	     class="block w-92 mt-1 p-1.5 border-gray-300 rounded-md ml-5 mb-5"
	     onchange="this.form.submit()">
       {% for statistik in menu.items() %}
       <option value="{{ statistik[0] }}"
	       {% if statistik[0] == marker %} selected = "selected" {% endif %}>
	 {{ statistik[1] }}
       </option>
       {% endfor %}
     </select>
   </form>
</div>
  {%- endmacro %}
