{% extends "layout.html" %}
{% block title %}Statistiken{% endblock title %}
{% block meta_keywords %} Auswertungen, Statistik {% endblock %}
{% from 'statistics/menu-stats.html' import StatsAuswahl with context %}
{% block content %}
<section class="container mx-auto mt-10">
 <div class="sticky col-span-2 row-span-2 duration-500 bg-gray-200 border-4
	     border-gray-200 rounded-md top-3 hover:shadow-xl">
   {{StatsAuswahl() }}
     <p class="p-2 text-center">Startseite für statistische Auswertungen</p>
     
   <p class="p-2 text-center">Für weitere Ideen und Anregungen kontaktieren Sie bitte das Entwicklerteam.</p>
   <br/><br/>
</section>
{% endblock content %}
