{% extends "layout.html" %}
{% block title %}Statistiken{% endblock title %}
{% block meta_keywords %}Auswertungen, Statistik{% endblock %}
{% block content %}
{% from 'statistics/menu-stats.html' import StatsAuswahl with context %}
<script
  src="{{ url_for('static', filename='plotly/plotly-2.26.0.min.js')}}"
  charset="utf-8">
</script>
<section class="container mx-auto mt-10">
 <div
   class="sticky col-span-2 row-span-2 duration-500 bg-gray-200 border-4 border-gray-200 rounded-md top-3 hover:shadow-xl">
   {{StatsAuswahl() }}
   <h1 class="pt-2 pb-2 text-lg text-center">Meldungen pro Woche</h1>
   <div id='myDiv'
	class="wx-92">
   <!-- Grafik -->
   </div>
   <script>
     var daten = {{ values|tojson }};
     var xValues = daten.x;
     
     var yValues = daten.y;
     console.log(xValues);
     console.log(yValues);
     //separate keys and values in two lists
/*     for (var key in daten) {
	 if (daten.hasOwnProperty(key)) {
	     xValues.push(key);
	     yValues.push(daten[key]);
	 }
	 };
*/	 
     
     const trace1 = {
     	 x: xValues,
     	 y: yValues,
     	 type: "scatter",
     };
     const data = [trace1];
     const layout = {
         showlegend: false,
     	margin: {
     	    l: 30,
     	    r: 10,
     	    b: 20,
     	    t: 20,
     	    pad: 4
     	},
     };
     var config = {scrollZoom: true,
     		  displayModeBar: false};
     Plotly.newPlot("myDiv", data, layout, config);
     
   </script>

   
</section>
{% endblock content %}
