{% extends "layout.html" %}
{% block title %} Admin Panel {% endblock title%}
{% block text %} {{user_name}} {% endblock text %}
{% from "macro.html" import render_pagination %}
{% block content %}



<div class="container px-4 mx-auto my-10 md:px-12">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="flex items-center justify-between p-4 mb-4 text-red-700 bg-red-100 border-l-4 border-red-500 rounded-md" role="alert" id="errorAlert">
            <div>
              <strong class="font-bold">Error!</strong>
              <span class="block sm:inline">{{ message }}</span>
            </div>
            <button onclick="document.getElementById('errorAlert').style.display='none'" class="text-red-700 hover:text-red-900">
              <svg class="w-6 h-6 fill-current" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"></path></svg>
            </button>
          </div>
          {% endif %}
	  {% if category == 'info' %}
          <div class="flex items-center justify-between p-4 mb-4 text-red-700 bg-red-100 border-l-4 border-red-500 rounded-md" role="alert" id="errorAlert">
            <div>
              <strong class="font-bold">Info: </strong>
              <span class="block sm:inline">{{ message | safe}}</span>
            </div>
            <button onclick="document.getElementById('errorAlert').style.display='none'" class="text-red-700 hover:text-red-900">
              <svg class="w-6 h-6 fill-current" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"></path></svg>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

    <div class="flex flex-wrap items-center justify-between mb-5 md:space-x-6 lg:space-x-8 xl:space-x-4">
        <div class="flex flex-wrap items-center w-full space-x-4 md:space-x-0 md:space-y-4 md:flex-col md:w-auto">
            <!-- Filter button -->
            <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown"
                class="flex items-center justify-center w-full px-4 py-2 mb-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto md:mb-0 focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
                type="button">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-2 text-gray-400"
                    viewbox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                        clip-rule="evenodd" />
                </svg>
                Filter
                <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                </svg>
            </button>
    
        <div id="filterDropdown"
            class="z-10 hidden w-64 p-4 space-y-3 bg-white divide-y divide-gray-100 rounded-lg shadow-lg sm:w-80">
        
            <form action="{{ url_for('admin.admin_index2', usrid=session['user_id']) }}" method="GET" class="space-y-3">
                <div class="space-y-1">
                    <label for="statusInput" class="block text-sm font-semibold text-gray-700">Bearbeitet oder offen</label>
                    <select id="statusInput" name="statusInput"
                        class="w-full p-2 text-sm rounded-md shadow-sm focus:ring-2 focus:ring-green-500 focus:border-transparent">
                        <option value="all" {% if filters.status=="all" %}selected{% endif %}>Alle</option>
                        <option value="bearbeitet" {% if filters.status=="bearbeitet" %}selected{% endif %}>Bearbeitet</option>
                        <option value="offen" {% if filters.status=="offen" %}selected{% endif %}>Offen</option>
                        <option value="geloescht" {% if filters.status=="geloescht" %}selected{% endif %}>Gelöscht</option>
                    </select>
                </div>
                <div class="space-y-1">
                    <label for="dateFrom" class="block text-sm font-semibold text-gray-700">Datum von</label>
                    <input type="date" id="dateFrom" name="dateFrom" value="{{ request.args.get('dateFrom', '') }}"
                        class="w-full p-2 text-sm rounded-md shadow-sm focus:ring-2 focus:ring-green-500 focus:border-transparent">
                </div>
                <div class="space-y-1">
                    <label for="dateTo" class="block text-sm font-semibold text-gray-700">Datum bis</label>
                    <input type="date" id="dateTo" name="dateTo" value="{{ request.args.get('dateTo', '') }}"
                        class="w-full p-2 text-sm rounded-md shadow-sm focus:ring-2 focus:ring-green-500 focus:border-transparent">
                </div>
                <div class="flex justify-between mt-4 space-x-4">
                    <button id="clearFilters" type="button"
                        class="flex items-center justify-center w-24 px-2 py-1 text-sm text-red-500 border border-red-500 rounded-md shadow-sm hover:bg-red-50 focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:border-transparent">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 mr-1">
                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                        Reset
                    </button>
                    <button type="submit"
                        class="w-1/2 px-4 py-2 text-white bg-green-500 rounded-md shadow-sm hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:border-transparent">
                        Filtern
                    </button>
                </div>
                
                <input type="hidden" name="q" value="{{ request.args.get('q', '') }}">
                <input type="hidden" name="sort_order" value="{{ request.args.get('sort_order', '') }}">
                <input type="hidden" name="search_type" value="{{ request.args.get('search_type', '') }}">
            </form>
        </div>
        
        </div>
    
        <div class="relative flex items-center flex-grow w-full mb-2 rounded-lg shadow-sm md:w-auto md:mb-0">
            <form action="{{ url_for('admin.admin_index2', usrid=session['user_id']) }}" method="GET"
                class="flex items-center w-full transition-all duration-300 bg-white rounded-lg focus-within:ring-2 focus-within:ring-green-500">
                <!-- Search Bar -->
                <div class="relative flex-grow">
                    <button type="submit" class="absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                    <input type="text" id="searchInput" name="q" placeholder="Suche nach Meldungen..."
                        value="{{ request.args.get('q', '') }}" maxlength="50"
                        class="w-full h-full py-2 pl-10 pr-4 transition-shadow duration-300 bg-transparent rounded-l-lg search focus:ring-0 focus:border-transparent">
                    <button type="button" onclick="clearSearch()" title="löschen"
                        class="absolute p-1 transform -translate-y-1/2 bg-white rounded-full right-5 top-1/2 hover:bg-gray-200 focus:outline-none">
                        <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16"
                            height="16">
                            <path
                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                            </path>
                        </svg>
                    </button>
                </div>
                <!-- Dropdown for search type -->
                <div class="relative">
                    <select id="searchType" name="search_type" onchange="changeInputPattern()"
                        class="block h-full px-4 py-2 leading-tight bg-transparent rounded-r-lg search focus:ring-0 focus:border-transparent">
                        <option value="full_text" {% if search_type=='full_text' %}selected{% endif %}>
                            Text</option>
                        <option value="id" {% if search_type=='id' %}selected{% endif %}>ID</option>
                    </select>
                </div>
                <input type="hidden" name="statusInput" value="{{ request.args.get('statusInput', '') }}">
                <input type="hidden" name="sort_order" value="{{ request.args.get('sort_order', '') }}">
                <input type="hidden" id="hiddenDateFrom" name="dateFrom" value="{{ request.args.get('dateFrom', '') }}">
                <input type="hidden" id="hiddenDateTo" name="dateTo" value="{{ request.args.get('dateTo', '') }}">
                <button type="submit" class="hidden">Suchen</button>
            </form>
        </div>
    
    
    
    
    
        <div class="flex items-center w-full space-x-4 md:w-auto">
            <!-- Sortieren Button -->
            <button id="dropdownSortButton" data-dropdown-toggle="sortDropdown"
                class="flex items-center justify-center flex-grow px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200">
                <span id="sortText">Sortieren...</span>
                <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                </svg>
            </button>
    
    
            <!-- Custom Dropdown Menu -->
            <div id="sortDropdown"
                class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSortButton">
                    <li id="id_asc"
                        class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white {% if current_sort_order=="
                        id_asc" %} bg-gray-300 {% endif %}" onclick="setSortOrder('id_asc')">
                        <div class="h-2 w-2 bg-green-500 rounded-full mr-2 {% if current_sort_order!="id_asc" %}
                            bg-transparent {% endif %}"></div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="mr-2 bi bi-sort-numeric-up" viewBox="0 0 16 16">
                            <!-- SVG paths for Aufsteigend -->
                            <path d="M12.438 1.668V7H11.39V2.684h-.051l-1.211.859v-.969l1.262-.906h1.046z" />
                            <path fill-rule="evenodd"
                                d="M11.36 14.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.835 1.973-1.835 1.09 0 2.063.636 2.063 2.687 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98z" />
                            <path
                                d="M4.5 13.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z" />
                        </svg>
                        Aufsteigend
                    </li>
                    <li id="id_desc"
                        class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white {% if current_sort_order=="
                        id_desc" %} bg-gray-300 {% endif %}" onclick="setSortOrder('id_desc')">
                        <div class="h-2 w-2 bg-green-500 rounded-full mr-2 {% if current_sort_order!="id_desc" %}
                            bg-transparent {% endif %}"></div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="mr-2 bi bi-sort-numeric-down" viewBox="0 0 16 16">
                            <!-- SVG paths for Absteigend -->
                            <path d="M12.438 1.668V7H11.39V2.684h-.051l-1.211.859v-.969l1.262-.906h1.046z" />
                            <path fill-rule="evenodd"
                                d="M11.36 14.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.835 1.973-1.835 1.09 0 2.063.636 2.063 2.687 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98z" />
                            <path
                                d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" />
                        </svg>
                        Absteigend
                    </li>
                </ul>
            </div>
    
            <!-- Hidden actual select for form submission -->
            <select id="sortInput" class="hidden" onchange="updateSortOrder()">
                <option value=""></option>
                <option value="id_asc" {% if current_sort_order=="id_asc" %}selected{% endif %}></option>
                <option value="id_desc" {% if current_sort_order=="id_desc" %}selected{% endif %}></option>
            </select>
    
    
            <div class="flex items-center w-full space-x-4 md:w-auto">
                <!-- Dropdown button -->
                <button id="dropdownExportButton" data-dropdown-toggle="dropdown"
                    class="flex items-center justify-center flex-grow px-4 py-2 text-sm font-medium text-white bg-green-600 border border-green-400 rounded-lg focus:outline-none hover:bg-green-600 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200">
                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                    </svg>
                    Export
                </button>
    
                <!-- Dropdown menu -->
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
                    <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownExportButton">
                        <li>
                            <button onclick="exportData('all')" class="block w-full px-4 py-2 text-left hover:bg-gray-100 ">
                                Export All Data
                            </button>
                        </li>
                        <li>
                            <button onclick="exportData('accepted')"
                                class="block w-full px-4 py-2 text-left hover:bg-gray-100 ">
                                Export Accepted Reports
                            </button>
                        </li>
                        <li>
                            <button onclick="exportData('non_accepted')"
                                class="block w-full px-4 py-2 text-left hover:bg-gray-100 ">
                                Export Non-Accepted Reports
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mb-4 sm:grid-cols-2 lg:grid-cols-3" id="reportContainer">
        {% for sighting in reported_sightings %}
        <div class="mb-4 overflow-hidden transition-shadow duration-200 ease-in-out bg-white rounded-lg shadow-lg hover:shadow-xl report-card"
            data-report-id="{{sighting.id}}"
            data-approved="{{ 'true' if sighting.dat_bear else 'false' }}"
            data-deleted="{{ 'true' if sighting.deleted else 'false' }}"
            >
            <div class="relative">
                <img loading="lazy" loading="lazy" onclick="openImageModal('{{ url_for('admin.report_Img', filename=image_path + "/" +
                    sighting.fundort.ablage) }}')"
                    class="object-cover w-full h-48 transition-transform duration-200 ease-in-out rounded-t-lg cursor-pointer md:h-64 hover:scale-105"
                    src="{{ url_for('admin.report_Img', filename=image_path + "/" + sighting.fundort.ablage)}}"
                    alt="{{imagepath}}">
                <div class="p-4 md:p-6">
                    <div class="relative -mt-10 md:mt-0">
                        <div class="p-4 rounded-lg shadow-lg {{ 'bg-green-100' if sighting.approved }} bg-white">
                            <div class="flex flex-col items-baseline md:flex-row">
                                <span
                                    class="inline-block px-2 py-1 mb-2 text-xs font-semibold leading-none tracking-wide text-white uppercase bg-green-500 rounded-full md:mb-0">
                                    ID: {{ sighting.id }}</span>
                                {% if sighting.deleted %}
                                <span
                                    class="inline-block px-2 py-1 ml-2 text-xs font-semibold leading-none tracking-wide text-white uppercase bg-red-500 rounded-full">Deleted</span>
                                {% endif %}
                                {% if sighting.dat_bear %}
                                <div class="ml-0 text-xs font-semibold tracking-wide text-gray-600 md:ml-2 md:text-sm md:right-0"
                                title="BearbID: {{sighting.bearb_id}}&#13;&#10;BearbUsername: {{sighting.approver_username }}"
                                >
                                    <strong>Datum der Überprüfung:</strong> {{ sighting.dat_bear }}<br>
                                    <strong>Überprüft von:</strong> <span class="truncate" title="BearbUsername: {{sighting.approver_username }}">{{ sighting.approver_username }}</span>
                                </div>
                                {% endif %}
                            </div>
                            <h4 class="mt-2 text-lg font-semibold leading-tight truncate md:text-xl"
                                title="{{sighting.ort}}&#13;&#10;Postleitzahl: {{sighting.plz}}&#13;&#10;Kreis: {{sighting.kreis}}&#13;&#10;Land: {{sighting.land}}">
                                {{sighting.kreis}} | {{sighting.ort}}
                            </h4>
                            <div class="mt-2">
                                <p class="text-sm"><strong>Melde-Datum:</strong> {{ sighting.dat_meld }}</p>
                                {% if sighting.dat_fund_bis %}
                                <p class="text-sm"><strong>Fund-Datum:</strong> {{ sighting.dat_fund_von }} - {{ sighting.dat_fund_bis}}</p>
                                {% else %}
                                <p class="text-sm"><strong>Fund-Datum:</strong> {{ sighting.dat_fund_von }}</p>
                                {% endif %}
                            </div>
                            <div class="flex flex-wrap items-center justify-between mt-3">
                                <div class="flex items-center">
                                    <button onclick="openModal({{sighting.id}})" style="min-width: 2 rem;"
                                        class="p-1 transition-colors duration-200 rounded focus:outline-none hover:bg-green-200">
                                        <img loading="lazy" src="/static/images/svg/edit.svg" alt="Edit" class="w-4 h-4 md:w-5 md:h-5">
                                    </button>
                                    <button onclick="deleteSighting({{sighting.id}})"
                                        class="p-1 ml-2 transition-colors duration-200 rounded md:ml-4 focus:outline-none hover:bg-red-200"
                                        style="min-width: 2 rem;">
                                        <img loading="lazy" src="/static/images/svg/delete.svg" alt="Delete" class="w-4 h-4 md:w-5 md:h-5">
                                    </button>
                                </div>
                                <div>
                                    {% set total = ((sighting.art_m or 0) + (sighting.art_w or 0) +
                                    (sighting.art_n or 0) + (sighting.art_o or 0)) | int %}
                                    {% if sighting.dat_bear %}
                                    <span
                                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-800 bg-green-100 rounded-md">
                                        Angenommen
                                    </span>
                                    {% else %}
                                    <button onclick="toggleApprove({{sighting.id}})"
                                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-500 rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                        Annehmen
                                    </button>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {{ render_pagination(paginated_sightings, 'admin.admin_index2', current_filter_status, current_sort_order, search_query, request.args.get('dateFrom', ''), request.args.get('dateTo', '')) }}
</div>





<div id="imageModal" class="fixed inset-0 z-50 hidden overflow-y-auto" aria-labelledby="imageModalLabel" tabindex="-1"
    title="Um das Bild weiter zu vergrößern klicken sie auf den Button unten">
    <div class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
        <div id="imageModalBackdrop" class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div
            class="inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-full sm:w-11/12 md:w-3/4 lg:w-1/2 xl:w-1/3 sm:p-6">
            <div class="flex justify-center mt-2">
                <img loading="lazy" loading="lazy" id="modalImage" class="w-full max-h-[70vh] object-cover" src=""
                    alt="Full Image View">
            </div>
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button type="button" onclick="closeImageModal()"
                    class="inline-flex justify-center w-full px-4 py-2 mb-2 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:mb-0 sm:ml-3 sm:w-auto sm:text-sm"
                    title="Schließen Sie das Fenster">
                    Close
                </button>
                <button type="button" onclick="openImageNewTab()"
                    class="inline-flex justify-center w-full px-4 py-2 mb-2 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:mb-0 sm:ml-3 sm:w-auto sm:text-sm"
                    title="Öffnen Sie das Bild in einem neuen Tab">
                    <svg class="w-[16px] h-[16px] text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778" />
                    </svg>
                </button>
            </div>
            
        </div>
    </div>
</div>




<!-- Modal -->
<div id="modal" class="fixed inset-0 z-10 hidden overflow-y-auto bg-gray-500 bg-opacity-75">
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full mx-4 bg-white rounded-lg shadow-xl md:max-w-3xl">
            <div class="p-6">
                <!-- Tab Buttons -->
                <div class="flex justify-center mb-4 space-x-2 md:space-x-4">
                    <button
                        class="px-4 py-2 font-semibold text-green-700 bg-green-100 rounded-lg focus:outline-none hover:bg-green-600 hover:text-white"
                        id="tab-general-info">General Information</button>
                    <button
                        class="px-4 py-2 font-semibold text-green-700 bg-green-100 rounded-lg focus:outline-none hover:bg-green-600 hover:text-white"
                        id="tab-location-info">Position auf der Karte</button>
                    <button
                        class="px-4 py-2 font-semibold text-green-700 bg-green-100 rounded-lg focus:outline-none hover:bg-green-600 hover:text-white"
                        id="tab-user-info">User Information</button>
                </div>
                <!-- Tab Content -->
                <div id="tab-content" class="overflow-y-auto" style="max-height: 450px;">
                    <!-- Content will be loaded here -->
                </div>
                <!-- Actions -->
                <div class="flex justify-end mt-4 space-x-2 action-container">
                    <!-- "Bearbeiten" button will be inserted here dynamically -->
                    <button type="button"
                        class="px-4 py-2 font-semibold text-gray-700 bg-gray-200 rounded-lg focus:outline-none hover:bg-gray-300"
                        onclick="closeModal()">Schließen</button>
                </div>                
            </div>
        </div>
    </div>
</div>




<script>
    let map;
    let marker;

    function setSortOrder(value) {
        document.getElementById('sortInput').value = value;
        updateSortOrder();
    }

    function updateURLParams(params) {
        let searchParams = new URLSearchParams(window.location.search);

        for (const [key, value] of Object.entries(params)) {
            searchParams.set(key, value);
        }

        window.location.search = searchParams.toString();
    }


    function updateSortOrder() {
        let sortInput = document.getElementById('sortInput');
        let selectedSortOrder = sortInput.value;
        updateURLParams({ 'sort_order': selectedSortOrder });
    }



    function changeInputPattern() {
        const searchType = document.getElementById('searchType').value;
        const searchInput = document.getElementById('searchInput');

        if (searchType === 'id') {
            searchInput.setAttribute('pattern', '\\d+');
            searchInput.setAttribute('title', 'Es sind nur IDs erlaubt.');
        } else {
            searchInput.removeAttribute('pattern');
            searchInput.removeAttribute('title');
        }
    }

    // Call the function on page load to set the initial pattern
    window.addEventListener('load', (event) => {
        changeInputPattern();
    });

    function changeGender(id) {
        const selectElement = document.getElementById(`gender-${id}`);
        const newGender = selectElement.value;

        fetch(`/change_mantis_gender/${id}`, {
            method: 'POST',
            body: new URLSearchParams({ new_gender: newGender }),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                } else {
                    console.error('Failed to change gender:', data.error);
                }
            });
    }

    function clearSearch() {
        document.getElementById('searchInput').value = '';
        // Submit the form or refresh the page to clear the search results
        // location.reload();
        document.getElementById('searchInput').form.submit();
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('imageModalBackdrop').addEventListener('click', closeImageModal);
    });

    document.addEventListener("DOMContentLoaded", function () {
        const clearFiltersButton = document.getElementById("clearFilters");

        clearFiltersButton.addEventListener("click", function () {
            const statusInput = document.getElementById("statusInput");
            const dateFromInput = document.getElementById("dateFrom");
            const dateToInput = document.getElementById("dateTo");

            statusInput.value = "all";
            dateFromInput.value = "";
            dateToInput.value = "";

            statusInput.closest("form").submit();
        });
    });


    // Function to toggle approve a sighting
    function toggleApprove(id) {
        fetch('/toggle_approve_sighting/' + id, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Remove the approved card from the view
                    removeCardFromView(id);
                } else {
                    console.error('Failed to change approval status:', data.error);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function fetchReport(id) {
        fetch('/get_sighting/' + id)
            .then(response => response.json())
            .then(data => {
                openModal(data);
            })
            .catch(error => console.error('Error:', error));
    }

    function openModal(id) {
        document.body.style.overflow = 'hidden';
        clearTabClickListeners();
        fetch('/get_sighting/' + id)
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                return response.json();
            })
            .then(data => {
                let tabGeneralInfo = document.getElementById('tab-general-info');
                let tabLocationInfo = document.getElementById('tab-location-info');
                let tabUserInfo = document.getElementById('tab-user-info');
                let tabContent = document.getElementById('tab-content');

                // Set initial content
                tabContent.innerHTML = generateGeneralInfo(data);
                setActiveTab(tabGeneralInfo);

                // Add click listeners to tab buttons
                addTabClickListener(tabGeneralInfo, generateGeneralInfo, data);
                addTabClickListener(tabLocationInfo, generateLocationInfo, data);
                addTabClickListener(tabUserInfo, generateUserInfo, data);

                // Show the modal
                document.getElementById('modal').classList.remove('hidden');

                // Disable inputs if the sighting has been approved
                let reportCard = document.querySelector(`[data-report-id="${id}"]`);
                let isApproved = reportCard.getAttribute('data-approved') === 'true';
                disableInputsIfApproved(isApproved);
                addEditButtonIfApproved(isApproved);
            })
            .catch(error => console.error('Error:', error));
    }


    // Existing function to add the edit button
    function addEditButtonIfApproved(isApproved) {
        const actionContainer = document.querySelector('.action-container');
        let existingButton = document.getElementById('edit-button');
    
        // Remove the existing button if there is one
        if (existingButton) {
            existingButton.remove();
        }
    
        // Create the button only if it is approved (i.e., editable)
        if (isApproved) {
            const editButton = document.createElement('button');
            editButton.type = "button";
            editButton.id = "edit-button";
            editButton.onclick = toggleEdit;
            editButton.style.minWidth = "2rem";
            editButton.innerHTML = `
                <img loading="lazy" src="/static/images/svg/edit.svg" alt="Edit" class="w-4 h-4 md:w-5 md:h-5">
            `;
            editButton.className = "p-1 transition-colors duration-200 rounded focus:outline-none hover:bg-green-200 relative";
            actionContainer.insertBefore(editButton, actionContainer.firstChild);
        }
    }
    

    function toggleEdit() {
        let inputs = document.querySelectorAll('.input-field-admin, .textInputAdmin');
        let isDisabled = inputs[0].disabled;
        let editButton = document.getElementById('edit-button');

        if (isDisabled) {
            if (confirm('Möchten Sie die Bearbeitung aktivieren? Änderungen werden gespeichert.')) {
                inputs.forEach(input => {
                    input.disabled = !isDisabled;
                });
                editButton.classList.remove('hover:bg-green-200');
                editButton.classList.add('bg-green-200', 'hover:bg-red-200');
            }
        } else {
            inputs.forEach(input => {
                input.disabled = !isDisabled;
            });
            editButton.classList.remove('bg-green-200', 'hover:bg-red-200');
            editButton.classList.add('hover:bg-green-200');
        }
    }






    function disableInputsIfApproved(isApproved) {
        let inputs = document.querySelectorAll('.input-field-admin, .textInputAdmin');
        inputs.forEach(input => {
            input.disabled = isApproved;
        });
    }


    function addTabClickListener(tabElement, contentGenerator, data) {
        let isApproved = document.querySelector(`[data-report-id="${data.id_meldung}"]`).getAttribute('data-approved') === 'true';
        tabElement.onclick = function () {
            if (!this.classList.contains('active')) {
                document.getElementById('tab-content').innerHTML = contentGenerator(data);
                setActiveTab(this);
                disableInputsIfApproved(isApproved);

                if (contentGenerator === generateLocationInfo) {
                    initiateMap(data);
                }
            }
        };
    }


    function clearTabClickListeners() {
        let tabGeneralInfo = document.getElementById('tab-general-info');
        let tabLocationInfo = document.getElementById('tab-location-info');
        let tabUserInfo = document.getElementById('tab-user-info');

        tabGeneralInfo.onclick = null;
        tabLocationInfo.onclick = null;
        tabUserInfo.onclick = null;
    }



    function initiateMap(data) {
        setTimeout(function () {
            let lat = parseFloat(data.latitude.replace(',', '.'));
            let lng = parseFloat(data.longitude.replace(',', '.'));
            let map = L.map('map').setView([lat, lng], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                tileSize: 512,
                zoomOffset: -1
            }).addTo(map);

            L.marker([lat, lng]).addTo(map);

            // Redraw tiles after the modal is shown
            map.invalidateSize();
        }, 0);
    }

    function changeGenderCount(id, type, newCount) {
        fetch(`/change_mantis_count/${id}`, {
            method: 'POST',
            body: new URLSearchParams({ type: type, new_count: newCount }),
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                } else {
                    console.error('Failed to change count:', data.error);
                }
            });
    }


    function changeMetaData(id, type, newContent) {
        fetch(`/change_mantis_meta_data/${id}`, {

            method: 'POST',
            body: new URLSearchParams({ id: id, type: type, new_data: newContent }),
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                } else {
                    console.error('Failed to change metadata:', data.error);
                }
            });
    }

    function setActiveTab(tab) {
        // Remove 'active' class from all tabs
        let tabs = [document.getElementById('tab-general-info'), document.getElementById('tab-location-info'), document.getElementById('tab-user-info')];
        tabs.forEach(t => t.classList.remove('active'));
        // Add 'active' class to the selected tab
        tab.classList.add('active');
    }



    function openImageModal(imageUrl) {
        document.body.style.overflow = 'hidden';
        document.getElementById('modalImage').src = imageUrl;
        document.getElementById('imageModal').style.display = 'block';
    }

    function closeImageModal() {
        document.getElementById('imageModal').style.display = 'none';
        document.body.style.overflow = 'auto';
    }

    function openImageNewTab() {
        let modalImage = document.getElementById('modalImage');
        window.open(modalImage.src, '_blank');
    }

    function generateGeneralInfo(data) {
        let mantis_types = ['Männchen', 'Weiblich', 'Nymphe', 'Oothek', 'Andere', 'Anzahl'];
        let gender_counts = [data.art_m, data.art_w, data.art_n, data.art_o, data.art_f, data.tiere];

        let html = `<div class="flex flex-col md:flex-row md:space-x-6">
                        <div class="md:w-1/2">
                            ${mantis_types.map((type, i) => `
                                <div class="flex items-center">
                                    <label for="mantis-count-${type}" class="w-32 my-4 mr-2 font-semibold">${type}</label>
                                    <input id="mantis-count-${type}" type="number" min="0"
					   value="${gender_counts[i]}"
					   onchange="changeGenderCount(${data.id_meldung}, '${type}', this.value)"
                                        class="w-24 input-field-admin" >
                                    
                                </div>
                            `).join('')}

                        </div>
                        <div class="space-y-4 md:w-1/2">
                            <p class="mb-4"><strong>Report ID:</strong> ${data.id_meldung}</p>
                            <p class="mb-4"><strong>Date Reported:</strong> ${data.dat_meld.replace(/\d{2}:\d{2}:\d{2} GMT/, '')}</p>
                        </div>
                    </div>
                    <p class="mt-6 mb-2 font-semibold">Kommentar (Melder):</p>
                    <div class="px-3 py-2 overflow-auto bg-gray-100 rounded-lg details-text"
			 style="max-height: 150px;">${data.anm_melder.replace(/\n/g, '<br />')}</div>

                    <p class="mb-2 font-semibold">Fundortquelle:</p>
                        <input type="text" class="w-12 ml-2 input-field-admin"
                        name="fo_quelle"
                        onchange="changeMetaData(${data.id_meldung},'fo_quelle', this.value)"
                        value=${data.fo_quelle}>
                    </div>

                    <p class="mb-2 font-semibold">Amt:</p>
                          <input type="text" class="ml-2 input-field-admin"
                                 name="amt"
                                 onchange="changeMetaData(${data.id_meldung},'amt', this.value)"
                                 ${"value='" + (data.amt || "") + "'"}>
                    </div>
                      

                    <p class="mb-2 font-semibold">Messtischblatt:</p>
                          <input type="text" class="ml-2 input-field-admin"
                                 name="mtb"
                                 onchange="changeMetaData(${data.id_meldung},'mtb', this.value)"
                                 ${"value='" + (data.mtb || "") + "'"}>
                     </div>
                      
                     <p class="mb-2 font-semibold">Kommentar (Reviewer):</p>
                     <div class="px-3 py-2 mr-3 overflow-auto bg-gray-100 rounded-lg details-text" style="max-height: 150px;">
                          <textarea class="w-full h-full bg-transparent border-none outline-none resize-none textInputAdmin"
                                    name="anm_bearbeiter"
                                    onchange="changeMetaData(${data.id_meldung},'anm_bearbeiter', this.value)"
                                    >${data.anm_bearbeiter || ""}</textarea>
                     </div></div>`;

        return html;
    }


    function generateLocationInfo(data) {
        // Convert location info into HTML string
        return `<p><strong>Location ID:</strong> ${data.fo_zuordnung}</p>
            <div id="map" style="height: 350px; width: 100%;"></div>
            <div class="flex">
                <div class="mb-2 mr-2 font-semibold">
                    <p>Latitude:</p>
                    <input type="text" class="w-44 input-field-admin"
                           name="latitude"
                           onchange="changeMetaData(${data.id_meldung},'latitude', this.value)"
                           ${"value='" + (data.latitude || "") + "'"}>
                </div>
                <div class="mb-2 font-semibold">
                    <p>Longitude:</p>
                    <input type="text" class="w-44 input-field-admin"
                           name="longitude"
                           onchange="changeMetaData(${data.id_meldung},'longitude', this.value)"
                           ${"value='" + (data.longitude || "") + "'"}>
                </div>
            </div>`;
    }

    function generateUserInfo(data) {
        return `<p><strong>User Name:</strong> ${data.user_name}</p>
                <p><strong>User Email:</strong> ${data.user_kontakt}</p>
                <p><strong>User ID:</strong> ${data.user_id}</p>
                <p><strong>User Role:</strong> ${data.user_rolle}</p>`;
    }



    function closeModal() {
        // Hide modal
        document.body.style.overflow = 'auto';
        document.getElementById('modal').classList.add('hidden');
        clearTabClickListeners(); // Clear listeners when the modal is closed
    }

    function saveChanges() {
        // Save changes to report details
        // This will require additional setup based on how you want to edit the details
    }

    // Function to delete a sighting
    function deleteSighting(id) {
        let confirmDelete = confirm('Are you sure you want to delete this sighting? This action cannot be undone.');
        if (confirmDelete) {
            fetch('/delete_sighting/' + id, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    // Remove the deleted card from the view
                    removeCardFromView(id);
                })
                .catch(error => console.error('Error:', error));
        }
    }

    function removeCardFromView(id) {
        let card = document.querySelector(`[data-report-id="${id}"]`);
        let followingCards = Array.from(document.querySelectorAll(`[data-report-id]`)).slice(Array.from(document.querySelectorAll(`[data-report-id]`)).indexOf(card) + 1);

        card.classList.add('fade-out');

        // Allow animation to complete before removing the card
        setTimeout(function () {
            card.remove();
            // add slide in animation to following cards
            followingCards.forEach((followingCard) => {
                followingCard.classList.add('slide-in');
                setTimeout(() => {
                    followingCard.classList.remove('slide-in');
                }, 500);
            });

            // Adjust the footer position after the card is removed
            adjustFooterPosition();

        }, 500); // matches the duration of the fade-out animation
    }


    function exportData(exportType) {
        var exportButton = document.getElementById("dropdownExportButton");
        // Add loading animation to the button
        exportButton.innerHTML = '<svg class="w-5 h-5 mx-auto text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>';
        var url = "/admin/export/xlsx/" + exportType;
        window.location.href = url;

        // Set a timer to reset the button after 5 seconds
        setTimeout(function () {
            exportButton.innerHTML = 'Export<svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" /></svg>';
        }, 5000); // adjust the time as necessary
    }


</script>


{% endblock content %}
