{% extends "layout.html" %}
{% block meta_keywords %}
Gottesanbeterin Bestimmung, Mantis religiosa Identifikation, Merkmale, Unterscheidung, Brandenburg, Berlin
{% endblock %}
{% block page_title %}Mantis Religiosa Bestimmung | Mitmachprojekt | Gottesanbeterin Gesucht{% endblock %}
{% block meta_description %} Lernen Sie, wie Sie Mantis religiosa identifizieren können. Unterstützen Sie die Forschung. {% endblock %}
{% block title %}Bestimmungschlüssel{% endblock title %}

{% block content %}
<div class="container p-6 mx-auto lg:flex-row lg:mb-0 lg:max-w-6xl">
  <section id="meldeformular" class="p-4 pb-2 mt-8 bg-green-200 rounded-lg shadow-lg">
    <div class="flex flex-col items-center justify-between md:flex-row">
      <div class="mb-4 md:mb-0">
        <h2 class="mb-2 text-2xl font-bold text-gray-800">Bestimmungsschlüssel</h2>
        <p class="text-gray-700">
          Die Bestimmung erlaubt uns, das Auftreten und die Entwicklung im
          Jahresverlauf und in verschiedenen Jahren miteinander zu
          vergleichen.
        </p> <br />
        <p><b>Hinweis:</b>
          Bei Klick auf das Vorschaubild erscheint eine vergrößerte Ansicht.<br />
          Die Farbe des Tieres spielt für die Bestimmung <b>keine</b> Rolle!
        </p>
      </div>
    </div>
  </section>
  <p class="mt-3 text-center">
    <span class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
      1.</span>
  </p>
  <p>
    <span class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
      1a</span>
    Charakteristisch geformtes, bräunliches Gebilde (an eine
    Walnuss erinnernd) aus einer harten, bauschaumartigen Masse. Zumeist
    im unteren Bereich strauchiger und krautiger Vegetation abgelegt, aber
    auch an Oberflächen, wie Steinen, Holz oder Metall (dann meist an der
    Unterseite)
    <br />&rArr; Oothek (Gelege) [Siehe Bild 1]
  </p>
  <p>
    <span
      class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
      1b
    </span>
    Kein Gelege (Oothek) sondern ein Insekt mit sechs
    Beinen. Vorderbeine zu Fangbeinen umgebildet und mit Dornen
    besetzt. Fangbeine in Lauerposition unter der stark verlängerten
    Vorderbrust wie zum Gebet gehalten. Dreieckiger, sehr wendiger
    Kopf. Färbung grün, gelblich bis dunkelbraun
    <br />&rArr; Nymphe oder Vollinsekt, &rArr; gehe zu 2
  </p>
  <div>
    <!-- Modal toggle: Bild 1 -->
    <button data-modal-target="defaultOothek1" data-modal-toggle="defaultOothek1" class="mt-2" type="button">
      <img loading="lazy"alt="Oothek" class="mx-2"
        src="{{ url_for('static', filename='images/bestimmung/oothek--klein__an-vegetation.jpg') }}">
      Bild 1: Oothek an der <br />Vegetation<br />
    </button>
    <button data-modal-target="defaultOothek2" data-modal-toggle="defaultOothek2" class="mt-2" type="button">
      <img loading="lazy"alt="Oothek" class="mx-2"
        src="{{ url_for('static', filename='images/bestimmung/oothek--klein__an-holz.jpg') }}">
      Bild 2: Oothek <br />am Holz<br />
    </button>
    <button data-modal-target="defaultOothek3" data-modal-toggle="defaultOothek3" class="mt-2" type="button">
      <img loading="lazy"alt="Oothek" class="mx-2"
        src="{{ url_for('static', filename='images/bestimmung/oothek--klein__an-schiene.jpg') }}">
      Bild 3: Oothek an einer<br /> einer Bahnschiene
    </button>
    <p class="text-center">
      <span
        class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
        2.
      </span>
    </p>
    <p>
      <span
        class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
        2a</span>
      Flügellos bzw. mit Flügelstummeln (im Bild violett
      eingefärbt), Segmente am Hinterleib von oben sichtbar. 6 mm bis 50 mm
      lang. Meist zwischen Mai und August auftretend, in kalten Jahren auch
      bis in den September hinein zu finden. Nymphe (Larve), junges Tier
      Beispielfotos: eine sehr junge Nymphe ohne Flügel sowie eine subadulte
      Nymphe mit violett eingefärbten Flügelstummeln und gelben Pfeilen, die
      die Segmente. [Bild 4 und 5].
    </p>
    <p>
      <span
        class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
        2b</span>
      Flügel vollständig ausgebildet, reichen bis zum
      Hinterleibsende oder darüber hinaus (im Bild violett
      eingefärbt) [Siehe Bild 6].
      <br />&rArr; Erwachsenes Tier &rArr;gehe zu 3 .
    </p>
    <!-- Modal Nymphe 1-->
    <button data-modal-target="defaultNymphe1" data-modal-toggle="defaultNymphe1" class="mt-2" type="button">
      <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
        src="{{ url_for('static', filename='images/bestimmung/berger-junge-nymphe-ohne-fluegelklein.jpg') }}">
      Bild 4: Nymphe<br /> &nbsp;
    </button>
    <button data-modal-target="defaultNymphe2" data-modal-toggle="defaultNymphe2" class="mt-2" type="button">
      <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
        src="{{ url_for('static', filename='images/bestimmung/krueger-junge-nymphe-stummelfluegel-klein.jpg') }}">
      Bild 5: Nymphe <br /> mit Stummelflügeln
    </button>
    <!-- Modal toggle: Bild3 -->
    <button data-modal-target="AdultTier" data-modal-toggle="AdultTier" class="mt-2" type="button">
      <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
        src="{{ url_for('static', filename='images/bestimmung/erwachsenes-tier-klein.jpg') }}">
      Bild 6: Erwachsenes Tier<br /> &nbsp;
    </button>
    <p class="text-center">
      <span
        class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
        3. </span>
    </p>
    <p>
      <span
        class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
        3a</span>
      Sehr schlankes Tier (dünner als ein Bleistift) bis ca. 60 mm
      lang. Fühler (im Bild gelb markiert) deutlich länger als die
      Vorderbrust (im Bild rot markiert). Fühler an der Basis (am Kopf)
      dicker nach vorne spitz auslaufend: Männchen. [Siehe Bild 7 und 8]
      <br />&rArr; Männchen.
    </p>
    <p class="mt-2">
      <span
        class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
        3b</span>
      Großes und kräftiges Tier (dicker als ein Bleistift) bis
      ca. 75 mm lang. Fühler (im Bild gelb markiert) deutlich kürzer
      als die Vorderbrust (im Bild rot markiert). Fühler über die
      gesamte Länge zwirndünn. [Siehe Bild 7 und 9]
      <br />&rArr;Weibchen
    </p>
    <p class="mt-2">
      <span
        class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
        3c</span>
      Ich bin mir nicht sicher... &rArr; gehe zu 4.
    </p>
    <!-- Modal toggle: Bild4 -->
    <button data-modal-target="AdultPaerchen" data-modal-toggle="AdultPaerchen" class="mt-2" type="button">
      <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
        src="{{ url_for('static', filename='images/bestimmung/paerchenklein.jpg') }}">
      Bild 7: Paerchen
    </button>
    <!-- Modal toggle: Bild4 -->
    <button data-modal-target="AdultMaennchen" data-modal-toggle="AdultMaennchen" class="mt-2" type="button">
      <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
        src="{{ url_for('static', filename='images/bestimmung/maennchen-adult-gruenklein.jpg') }}">
      Bild 8: Männchen
    </button>
    <!-- Modal toggle: Bild4 -->
    <button data-modal-target="AdultWeibchen" data-modal-toggle="AdultWeibchen" class="mt-2" type="button">
      <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
        src="{{ url_for('static', filename='images/bestimmung/erwachsenes-weibchen-klein.jpg') }}">
      Bild 9: Weibchen
    </button>
    <p class="text-center">
      <span
        class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
        4. </span>
    </p>
    <p>
      Sollten Sie sich die Bestimmung nicht zutrauen, sich nicht sicher sein oder befinden sich vielleicht
      mehrere Tiere auf Ihrem Bild, z.B. ein Pärchen, ein Gelege legendes Weibchen, eine Oothek mit
      schlüpfenden Nymphen, Kannibalismus o.ä., wählen Sie bitte „Keine Zuordnung“ aus. Wenn Sie Ihre
      E-Mail hinterlassen, melden wir uns bei Ihnen und teilen Ihnen gerne mit, was auf Ihrem Bild zu
      sehen ist.
    </p>
    <!-- Main modal Bild 1-->
    <div id="defaultOothek1" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4
		overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t ">
            <h3 class="text-xl font-semibold text-gray-900 ">Oothek</h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900
					 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
					  " data-modal-hide="defaultOothek1">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0
					     111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10
					     11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10
					     4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal: body -->
          <div class="p-6 space-y-6">
            <p class="text-base leading-relaxed text-gray-500 ">
              <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
                src="{{ url_for('static', filename='images/bestimmung/oothek--gross__an-vegetation.jpg') }}">
            </p>
            <p>Oothek an Vegetation.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Ende Main modal  1-->
    <!-- Main modal Bild-->
    <div id="defaultOothek2" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4
		overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t ">
            <h3 class="text-xl font-semibold text-gray-900 ">Oothek</h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900
					 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
					  " data-modal-hide="defaultOothek2">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0
					     111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10
					     11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10
					     4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal: body -->
          <div class="p-6 space-y-6">
            <p class="text-base leading-relaxed text-gray-500 ">
              <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
                src="{{ url_for('static', filename='images/bestimmung/oothek--gross__an-holz.jpg') }}">
            </p>
            <p>Oothek am Holz.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Ende Main modal Bild 2-->
    <!-- Main modal Bild-->
    <div id="defaultOothek3" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4
		overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t ">
            <h3 class="text-xl font-semibold text-gray-900 ">Oothek</h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900
					 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
					  " data-modal-hide="defaultOothek3">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0
					     111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10
					     11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10
					     4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal: body -->
          <div class="p-6 space-y-6">
            <p class="text-base leading-relaxed text-gray-500 ">
              <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
                src="{{ url_for('static', filename='images/bestimmung/othek-an-schiene--gross.jpg') }}">
            </p>
            <p>Oothek im Spiegel, an einer Bahnschiene einer stillgelegten Strecke.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Ende Main modal Bild 3-->
    <!-- Main modal Nymphe 1-->
    <div id="defaultNymphe1" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4
		overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t ">
            <h3 class="text-xl font-semibold text-gray-900 ">
              Nymphe
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900
					 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
					  " data-modal-hide="defaultNymphe1">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0
					     111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10
					     11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10
					     4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal: Bild2 body -->
          <div class="p-6 space-y-6">
            <p class="text-base leading-relaxed text-gray-500 ">
              <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
                src="{{ url_for('static', filename='images/bestimmung/berger-junge-nymphe-ohne-fluegelgross.jpg') }}">
            </p>
            <p>Sehr junge Nymphe ohne Flügelstummel im Mai/Juni.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Ende Main modal Bild 4-->
    <!-- Main modal Nymphe 2-->
    <div id="defaultNymphe2" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4
		overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t ">
            <h3 class="text-xl font-semibold text-gray-900 ">
              Nymphe
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900
					 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
					  " data-modal-hide="defaultNymphe2">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0
					     111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10
					     11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10
					     4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal: Bild2 body -->
          <div class="p-6 space-y-6">
            <p class="text-base leading-relaxed text-gray-500 ">
              <img loading="lazy"alt="Nymphe" class="mx-auto my-auto max-w-10"
                src="{{ url_for('static', filename='images/bestimmung/krueger-junge-nymphe-stummelfluegel-gross.jpg') }}">
            </p>
            <p>
              Nymphe mit Flügelstummeln (pink und blau), im Juli/August,
              in manchen Jahren bis in den September hinein zu finden.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Ende Main modal Bild 4-->
    <!-- Main modal Nymphe 2-->
    <div id="AdultTier" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4
		overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t ">
            <h3 class="text-xl font-semibold text-gray-900 ">Erwachsenes Tier</h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900
					 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
					  " data-modal-hide="AdultTier">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0
					     111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10
					     11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10
					     4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal: Bild2 body -->
          <div class="p-6 space-y-6">
            <p class="text-base leading-relaxed text-gray-500 ">
              <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
                src="{{ url_for('static', filename='images/bestimmung/erwachsenes -tier-gross.jpg') }}">
            </p>
            <p>Erwachsenes Tier, violett eingefärbt: vollständig ausgebildete (lange) Flügel.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Ende Main modal Bild 5-->
    <!-- Main modal -->
    <div id="AdultPaerchen" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4
		overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t ">
            <h3 class="text-xl font-semibold text-gray-900 ">Pärchen</h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900
					 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
					  " data-modal-hide="AdultPaerchen">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0
					     111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10
					     11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10
					     4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal: Bild5 body -->
          <div class="p-6 space-y-6">
            <p class="text-base leading-relaxed text-gray-500 ">
              <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
                src="{{ url_for('static', filename='images/bestimmung/paerchengross.jpg') }}">
            </p>
            <p>Pärchen bei der Paarung für den Größenvergleich (Körper und Fühler).</p>
            <p>Weibchen (grün), Männchen (strohfarben).</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Main modal -->
    <div id="AdultMaennchen" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4
		overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t ">
            <h3 class="text-xl font-semibold text-gray-900 ">Männchen</h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900
					 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
					  " data-modal-hide="AdultMaennchen">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0
					     111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10
					     11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10
					     4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal: Bild5 body -->
          <div class="p-6 space-y-6">
            <p class="text-base leading-relaxed text-gray-500 ">
              <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
                src="{{ url_for('static', filename='images/bestimmung/maennchen-adult-gruengross.jpg') }}">
            </p>
            <p>Männchen (grün)</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Main modal -->
    <div id="AdultWeibchen" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4
		overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t ">
            <h3 class="text-xl font-semibold text-gray-900 ">Weibchen</h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900
					 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
					  " data-modal-hide="AdultWeibchen">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0
					     111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10
					     11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10
					     4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal: Bild5 body -->
          <div class="p-6 space-y-6">
            <p class="text-base leading-relaxed text-gray-500 ">
              <img loading="lazy"alt="Oothek" class="mx-auto my-auto max-w-10"
                src="{{ url_for('static', filename='images/bestimmung/erwachsenes-weibchen-gross.jpg') }}">
            </p>
            <p>Weichchen (strohfarben)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
