{% extends "layout.html" %}
{% block title %}Gottesanbeterin gesucht!{% endblock title %}
{% block content %}

<!--Projektbeschreibung section -->
<section id="Projektbeschreibung" class="relative pt-16 bg-grey-100">
  <div class="grid grid-cols-1 gap-6 px-2 md:grid-cols-2 md:px-4 lg:grid-cols-3 xl:px-8">

    <!-- Card 1 -->
    <a href="https://www.naturkundemuseum-potsdam.de/gottesanbeterin-gesucht" target="_blank"
       class="block mx-auto transition-transform duration-500 ease-in-out transform bg-white rounded-lg shadow-md cursor-pointer hover:-translate-y-1 hover:shadow-xl group card">
      <img loading="lazy"src="{{ url_for('static', filename='images/berger06.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto mb-4 rounded-t-lg">
      <h3 class="mb-2 text-xl font-semibold text-center text-gray-800 uppercase"> Über das Gottesanbeterin gesucht Projekt</h3>
      <p class="flex-grow text-center text-gray-600">
        Das Naturkundemuseum Potsdam und die Mantidenfreunde Berlin-Brandenburg initiieren das Projekt "Gottesanbeterin
        gesucht!" mit dem Ziel, die Europäische Gottesanbeterin (<i>Mantis religiosa</i> L. 1758) in der Region
        Brandenburg zu
        kartieren. Seit 2016 sammeln wir Fundmeldungen dieser speziellen Fangschreckenart und bitten Sie, uns bei der
        Erforschung ihrer Ausbreitung zu unterstützen. Wenn Sie eine Gottesanbeterin gefunden haben, bitten wir Sie,
        dies hier zu melden. Zusammen mit Wissenschaftlern und Wissenschaftlerinnen können wir so die Ausbreitung der
        Gottesanbeterin in Brandenburg erforschen. Weitere Informationen zum Naturkundemuseum Potsdam und zur
        Gottesanbeterin.
        <br>
        Siehe auch:
      </p>
      <span class="block mt-4 text-sm font-semibold text-center text-blue-600 underline group-hover:text-blueGray-800">
        Naturkundemuseum Potsdam
      </span>
    </a>
    <a href="/mantis-religiosa" target="_blank"
       class="block mx-auto transition-transform duration-500 ease-in-out transform bg-white shadow-md cursor-pointer r ounded-lg hover:-translate-y-1 hover:shadow-xl group card">
      <img loading="lazy"src="{{ url_for('static', filename='images/berger03.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">

      <div class="relative px-4 py-6">
        <h3 class="mb-2 text-xl font-semibold text-center text-gray-800 uppercase">
          ÜBER <i>Mantis religiosa</i> L. 1758
        </h3>
        <p class="text-center text-gray-600">
          Die Europäische Gottesanbeterin ist die einzige Art unter etwa 2.400 Fangschrecken-Arten, die in Deutschland,
          insbesondere in Brandenburg, vorkommt. Mit ihren zum Gebet gefalteten Vorderbeinen unterscheidet sie sich
          deutlich von anderen Insekten. Ihre geschickte und gut getarnte Lebensweise macht die Suche nach ihr jedoch
          anspruchsvoll, daher sind wir auf Ihre Meldungen angewiesen. Wenn Sie eine Gottesanbeterin melden, tragen Sie
          maßgeblich zur Forschung bei.
          <br />
          Mehr Informationen über die Gottesanbeterin finden Sie auf
          dem folgenden Link:

          <span class="block pt-2 text-sm font-semibold text-blue-600 underline group-hover:text-blueGray-800">
            Gottesanbeterin (<i>Mantis religiosa</i> L. 1758)
          </span>
        </p>
      </div>
    </a>
    <a href="/faq" target="_blank"
       class="block mx-auto transition-transform duration-500 ease-in-out transform bg-white rounded-lg shadow-md cursor-pointer hover:-translate-y-1 hover:shadow-xl group card">
      <img loading="lazy"src="{{ url_for('static', filename='images/berger10.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">
      <div class="relative px-4 py-6">
        <h3 class="mb-2 text-xl font-semibold text-center text-gray-800 uppercase">Was passiert mit meiner Meldung?</h3>
        <p class="text-center text-gray-600">
          Jede Meldung einer in Brandenburg gefundenen Gottesanbeterin wird überprüft und in einer Datenbank erfasst.
          Ihr Bild dient ausschließlich zur Bestätigung des Fundes und wird in keiner Form weiterverwendet oder
          veröffentlicht. Mit Hilfe Ihrer wertvollen Informationen können wir Verbreitungskarten erstellen, welche die
          aktuelle Verbreitung der Gottesanbeterin in Brandenburg zeigen. Von Jahr zu Jahr können wir so gemeinsam die
          Ausbreitung der Gottesanbeterin nachverfolgen.
          <br />
          Weiterführende Hinweise finden Sie in der:
          <span class="block pt-2 text-sm font-semibold text-blue-600 underline group-hover:text-blueGray-800">
            FAQ (Häufig gestellte Fragen)
          </span>
        </p>
      </div>
    </a>
</section>
<!-- Animated counter section -->
<section class="py-16 bg-gray-100">
  <div class="container px-4 mx-auto">
    <div class="relative px-8 py-12 bg-green-800 rounded-lg shadow-2xl">
      <h2 class="mb-8 text-3xl font-bold leading-tight text-center text-white">
        Wir haben bereits <br />
        <span class="font-extrabold text-white text-7xl counter" data-target="{{ post_count }}">0</span>
        <br />
        Meldungen erhalten
      </h2>
      <p class="mb-8 text-xl text-center text-white">
        Helfen Sie uns, diese Zahl zu erhöhen!
      </p>
    </div>
  </div>
</section>
<script>
  const counter = document.querySelector('.counter');
  const target = Math.min(+counter.dataset.target, {{ post_count }});
  const duration = 2500;
  let startTime = null;
  function easeOutExpo(time, b, c, d) {
    return c * (-Math.pow(2, -10 * time / d) + 1) + b;
  }
  function animate(currentTime) {
    if (startTime === null) startTime = currentTime;
    const elapsedTime = currentTime - startTime;
    const progress = Math.min(elapsedTime / duration, 1);


    const count = Math.floor(easeOutExpo(progress, 0, target, 1));
    counter.innerText = count;
    if (elapsedTime < duration) {
      requestAnimationFrame(animate);
    } else {
      counter.innerText = target; // Ensure it ends on the target
    }
  }
  const observer = new IntersectionObserver(entries => {
    if (entries[0].isIntersecting) {
      requestAnimationFrame(animate);
      observer.disconnect();
    }
  });
  observer.observe(counter);
</script>

{% endblock content %}
