{% extends "layout.html" %}
{% block title %}Impressum{% endblock title %}
{% block page_title %}Impressum | Mantis Religiosa Mitmachprojekt | Gottesanbeterin Gesucht{% endblock %}
{% block meta_description %} Hier finden Sie das Impressum für gottesanbeterin-gesucht.de, Ihre Mantis religiosa Informationsquelle. {% endblock %}
{% block content %}
<div class="container flex flex-col p-6 mx-auto lg:flex-row lg:mb-0 lg:max-w-6xl">
  <div>
    <p class="pt-4 text-2xl text-center lg:text-left">
      MANTIS -- Mitmachprojekt<br />
    </p>
    <p class="pt-4 pb-4">
      Weiterführende Informationen finden Sie auf der Website:
      <a href="https://www.naturkundemuseum-potsdam.de/gottesanbeterin-gesucht"
	 class="text-blue-900 underline">Naturkundemuseum Potsdam</a>.
    </p>
    <div class="px-4 py-3 text-gray-700 bg-gray-100 border-t border-b border-gray-500 w-90" role="alert">
      <h3 class="font-semibold">Kontakt</h3>
      <p>
	<br />
	Ein Projekt der<br />
	Mantidenfreunde Berlin-Brandenburg<br />
	Jan Zschau<br />
	Finkenweg 6a<br />
	14473 Potsdam<br />
	E-Mail: jzschau@uni-potsdam.de<br />
	<br />
	unterstützt durch das<br />
	Naturkundemuseum Potsdam<br />
	<br />
	Dr. Dirk Berger<br />
	Breite Straße 11/13<br />
	14467 Potsdam<br />
	E-Mail: dirk.berger@rathaus.potsdam.de
      </p>
    </div>
    <h3 class="pt-2 font-semibold">Haftungshinweis</h3>
    <p>
      Dieses Impressum gilt nur für jene Dokumente des WWW-Servers des
      Projektes MANTIS (mantis.methopedia.eu), die auf diese Seite verweisen. Für
      alle anderen Seiten auf diesem WWW-Server liegt die redaktionelle
      Verantwortlichkeit bei den jeweiligen Stellen oder Personen, die auf der
      Seite als Verantwortlicher eingetragen sind bzw. die die Seite erstellt
      haben.
    </p>
    <p>
      Auf den Inhalt von Internetseiten anderer Anbieter, auf die
      die WWW-Seiten des Projektes MANTIS per Link verweisen, haben
      wir keinen Einfluss. Für den Inhalt dieser Seiten sind
      ausschließlich die Betreiber der anderen Webseiten
      verantwortlich. Trotz der Überprüfung der Inhalte im
      gesetzlich gebotenen Rahmen müssen wir daher jede
      Verantwortung für den Inhalt dieser Links bzw. der
      verlinkten Seite ablehnen.
    </p>
    <h3 class="pt-2 font-semibold">Urheberrecht</h3>
    <p>
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
      Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
      Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
      Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
      jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
      sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
    </p>
    <p>
      Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
      werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
      Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
      Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
      entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden
      wir derartige Inhalte umgehend entfernen.
    </p>
    <div class="flex justify-center">
      <div class="px-4 py-3 mt-3 text-gray-700 bg-gray-100 border-t border-b border-gray-500 basis-1/4" role="alert">
	<h3 class="font-semibold">Projektmanagement</h3>
	<p>
	  Peter Koppatz<br />
	</p>
	<p>
	  Schmerberger Weg 92a
	</p>
	<p>
	  14548 Schwielowsee/Caputh
	</p>
	<p>
	  <a href="mailto:peter.koppatz@th-wildau.de">peter.koppatz@th-wildau.de</a>
	</p>
      </div>
      <div class="px-4 py-3 mt-3 text-gray-700 bg-gray-100 border-t border-b border-gray-500 basis-1/2"
	   role=" alert">
	<h3 class="font-semibold">Gestaltung und Programmierung</h3>
      <p class="mb-2 text-gray-600">
	Die Entwicklung der Anwendung ist Teil der Ausbildung von
	Fachinformatiker-Lehrlingen für den Brandenburgischen
	IT-Dienstleister (ZIT-BB).
	Zum Team gehören (in alpabeticher Reihenfolge):
      </p>
      <p class="mb-2 text-gray-600 ">
	Jacob, Janneck, Jeremy, Lennard, Leon, Luca, Lukas, Martin, Max, Peter, Tanja, William
      </p>
      <h3 class="font-semibold">Technische Betreuung der Website</h3>
      <p>Peter Koppatz</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
