{% extends "layout.html" %}
{% block page_title %}Lizenzinformationen | Mantis Religiosa Mitmachprojekt | Gottesanbeterin Gesucht{% endblock %}
{% block meta_description %} Lesen Sie mehr über die Lizenzinformationen für Inhalte auf gottesanbeterin-gesucht.de. {% endblock %}
{% block title %}
Lizenz
{% endblock title %}
{% block content %}
<h1 class="mx-auto my-4 mt-20 text-2xl font-semibold text-center text-green-900">Lizenz</h1>
<div class="container mx-auto mb-4 text-center">
    Copyright (c) 2023 P22/ Naturkundemuseum Potsdam
    <br>
    <br>
    Jedem, der eine Kopie dieser Software und der zugehörigen Dokumentationsdateien (die „Software“) erhält,
    wird hiermit kostenlos die Erlaubnis erteilt, ohne Einschränkung mit der Software zu handeln,
    einschließlich und ohne Einschränkung der Rechte zur Nutzung, zum Kopieren, Ändern, Zusammenführen,
    Veröffentlichen, Verteilen, Unterlizenzieren und/oder Verkaufen von Kopien der Software, und Personen,
    denen die Software zur Verfügung gestellt wird, dies unter den folgenden Bedingungen zu gestatten:
    <br>
    <br>
    Der obige Urheberrechtshinweis und dieser Genehmigungshinweis müssen in allen Kopien oder wesentlichen Teilen der
    Software enthalten sein.
    <br>
    <br>
    DIE SOFTWARE WIRD OHNE MÄNGELGEWÄHR UND OHNE JEGLICHE AUSDRÜCKLICHE ODER STILLSCHWEIGENDE GEWÄHRLEISTUNG,
    EINSCHLIEẞLICH, ABER NICHT BESCHRÄNKT AUF DIE GEWÄHRLEISTUNG DER MARKTGÄNGIGKEIT,
    DER EIGNUNG FÜR EINEN BESTIMMTEN ZWECK UND DER NICHTVERLETZUNG VON RECHTEN DRITTER,
    ZUR VERFÜGUNG GESTELLT. DIE AUTOREN ODER URHEBERRECHTSINHABER SIND IN KEINEM FALL HAFTBAR FÜR ANSPRÜCHE,
    SCHÄDEN ODER ANDERE VERPFLICHTUNGEN, OB IN EINER VERTRAGS- ODER HAFTUNGSKLAGE, EINER UNERLAUBTEN HANDLUNG ODER
    ANDERWEITIG,
    DIE SICH AUS ODER IN VERBINDUNG MIT DER SOFTWARE ODER DER NUTZUNG ODER ANDEREN GESCHÄFTEN MIT DER SOFTWARE ERGEBEN.
    <br>
    <br>
    Siehe auch: <a class="font-bold text-blue-500" href="https://opensource.org/license/mit/"> MIT-Lizenz </a>
</div>
{% endblock content %}
