<!-- Help Popover Macro -->

{% macro popover(target, title, content, link_url=None, link_text=None) %}
<style>
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>

<div class="relative inline-block group">
    <button data-popover-target="{{ target }}" type="button" class="pl-2 pr-1 text-black" title="Hilfe">
        <svg class="w-4 h-4 text-gray-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M7.529 7.988a2.502 2.502 0 0 1 5 .191A2.441 2.441 0 0 1 10 10.582V12m-.01 3.008H10M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </button>

    <div data-popover id="{{ target }}" role="tooltip"
        class="absolute invisible w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 group-hover:visible"
        style="left: 100%; bottom: 0; z-index: 2000; transform: translateX(10px); animation: fadeIn 0.5s, fadeOut 0.5s 1s;">
        <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg ">
            <h3 class="font-semibold text-gray-900 ">{{ title }}</h3>
        </div>
        <div class="px-3 py-2 bg-green-100">
            <p>{{ content | safe }}</p> <!-- This is where the change was made! -->
            {% if link_url and link_text %}
            <p><a href="{{ link_url }}" class="text-blue-500 underline">{{ link_text }}</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}




<!-- Form Buttons Macro -->

{% macro formButton(id, text) %}
<a id="{{ id }}"
    class="relative px-6 py-2 text-sm font-medium text-white transition duration-300 bg-green-400 rounded-md hover:bg-green-500 ease next-btn">
    <span class="absolute bottom-0 left-0 h-full -ml-2">
        <svg viewBox="0 0 487 487" class="w-auto h-full opacity-100 object-stretch" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0 .3c67 2.1 134.1 4.3 186.3 37 52.2 32.7 89.6 95.8 112.8 150.6 23.2 54.8 32.3 101.4 61.2 149.9 28.9 48.4 77.7 98.8 126.4 149.2H0V.3z"
                fill="#FFF" fill-rule="nonzero" fill-opacity=".1"></path>
        </svg>
    </span>
    <span class="absolute top-0 right-0 w-8 h-full -mr-2">
        <svg viewBox="0 0 487 487" class="object-cover w-full h-full" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M487 486.7c-66.1-3.6-132.3-7.3-186.3-37s-95.9-85.3-126.2-137.2c-30.4-51.8-49.3-99.9-76.5-151.4C70.9 109.6 35.6 54.8.3 0H487v486.7z"
                fill="#FFF" fill-rule="nonzero" fill-opacity=".1"></path>
        </svg>
    </span>
    <span id="{{ id }}Text" class="relative">{{ text }}</span>
    <svg id="{{ id }}Loader" class="hidden w-5 h-5 mx-auto text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
</a>
{% endmacro %}

<!-- Reviewer field render Macro -->

{% macro render_field(field) %}
<dt>{{ field.label }}
<dd class="{{field.cls}}">{{ field(**kwargs)|safe }}
    {% if field.errors %}
    <ul class=errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</dd>
{% endmacro %}

<!-- Image Modal Macro -->

{% macro image_modal(id, alt, src, caption) %}
<button data-modal-target="{{ id }}" data-modal-toggle="{{ id }}" class="mt-2" type="button">
    <img loading="lazy"alt="{{ alt }}" class="mx-2" src="{{ url_for('static', filename=src) }}">
    {{ caption }}
</button>

<div id="{{ id }}" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <div class="relative bg-white rounded-lg shadow ">
            <div class="flex items-start justify-between p-4 border-b rounded-t ">
                <h3 class="text-xl font-semibold text-gray-900 ">{{ alt }}</h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center  "
                    data-modal-hide="{{ id }}">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 ">
                    <img loading="lazy"alt="{{ alt }}" class="mx-auto my-auto max-w-10" src="{{ url_for('static', filename=src) }}">
                </p>
                <p>{{ caption }}</p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}



{% macro render_pagination(pagination, endpoint, current_filter_status, current_sort_order, search_query, date_from, date_to) %}
  <div class="flex items-center justify-center my-2 text-xl font-semibold text-green-600">
    {{ pagination.first }} - {{ pagination.last }} von {{ pagination.total }}
  </div>

  <div class="flex items-center justify-center my-4 space-x-2">
    {% set usrid = session['user_id'] %}
    {% set start_page = [pagination.page - 2, 1] | max %}
    {% set end_page = [pagination.page + 2, pagination.pages] | min %}
    {% if pagination.has_prev %}
      <a href="{{ url_for(endpoint, page=pagination.prev_num, usrid=usrid, statusInput=current_filter_status, sort_order=current_sort_order, q=search_query, dateFrom=date_from, dateTo=date_to) }}" class="flex items-center justify-center px-3 py-2 text-green-500 transition-all duration-300 ease-in-out border border-green-500 rounded hover:bg-green-100 hover:scale-105" data-tooltip="Previous page">
        <span class="sr-only">Previous</span>
        <svg class="w-3 h-3 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
        </svg>
      </a>
    {% endif %}
    {% for page in range(start_page, end_page + 1) %}
      {% if page != pagination.page %}
      <a href="{{ url_for(endpoint, page=page, usrid=usrid, statusInput=current_filter_status, sort_order=current_sort_order, q=search_query, dateFrom=date_from, dateTo=date_to) }}" class="px-3 py-2 text-green-500 transition-all duration-300 ease-in-out border border-green-500 rounded hover:bg-green-100 hover:scale-105">
        {{ page }}
      </a>
      {% else %}
        <span class="px-3 py-2 text-white scale-110 bg-green-500 border border-green-500 rounded shadow-lg">
          {{ page }}
        </span>
      {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
    <a href="{{ url_for(endpoint, page=pagination.next_num, usrid=usrid, statusInput=current_filter_status, sort_order=current_sort_order, q=search_query, dateFrom=date_from, dateTo=date_to) }}" class="flex items-center justify-center px-3 py-2 text-green-500 transition-all duration-300 ease-in-out border border-green-500 rounded hover:bg-green-100 hover:scale-105" data-tooltip="Next page">        <span class="sr-only">Next</span>
        <svg class="w-3 h-3 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
      </a>
    {% endif %}
  </div>
{% endmacro %}

