{% extends "layout.html" %}
{% block meta_keywords %}
Mantis religiosa, Informationen, Gottesanbeterin Fakten, Lebensraum, Erkennungsmerkmale, Verbreitung, Lebenszyklus, Beobachtungstipps, Brandenburg, Berlin
{% endblock %}
{% block meta_description %} Erfahren Sie mehr über Mantis religiosa, die europäische Gottesanbeterin. {% endblock %}
{% block page_title %}Mantis Religiosa Information | Gottesanbeterin in Deutschland | Gottesanbeterin Gesucht{% endblock %}
{% block title %}<i> Mantis religiosa </i><br /> <span class="text-base">(ein geschütztes Tier)</span>{% endblock title
%}

{% block content %}
<main class="container px-4 py-12 mx-auto sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 gap-8 md:grid-cols-4">
    <aside class="order-2 md:col-span-1 md:order-1">
      <div class="sticky top-20">
        <nav class="p-4 bg-white rounded-lg shadow-lg">
          <h2 class="mb-2 text-xl font-bold">Inhaltsverzeichnis</h2>
          <ul class="mb.2">
            <li class="mb-2"><a href="#steckbrief">Steckbrief</a></li>
            <li class="mb-2"><a href="#steckbrief">Überblick</a></li>
            <li class="mb-2"><a href="#habitat">Habitat</a></li>
            <li class="mb-2"><a href="#habitat">Verbreitungsgebiet</a></li>
            <li class="mb-2"><a href="#verbreitungsgebiet">Lebenszyklus</a></li>
            <li class="mb-2"><a href="#lebenszyklus">Beobachtungstipps</a></li>
	          <li class="mb-2"><a href="#lebenszyklus">Bestimmungsschlüssel</a></li>
            <li class="mb-2"><a href="#bestimmung">Weiterführende Links</a></li>
            <li class="mb-2"><a href="#links">Meldeformular</a></li>
          </ul>
        </nav>
      </div>
    </aside>
    <article class="order-1 md:col-span-3 md:order-2">
      <div class="p-8 bg-white rounded-lg shadow-lg">
        <h1 class="mb-4 text-3xl font-bold">
          Die faszinierende Welt der
          <a href="https://de.wikipedia.org/wiki/Mantis" target="_blank">Gottesanbeterin</a>
        </h1>
        <img loading="lazy"class="mb-4 rounded" src="{{ url_for('static', filename='images/mantis--maennchen__krueger.webp') }}"
          alt="Profile of Mantis religiosa">
        <p>Bildquelle: Krüger B. 2012</p>
        <div class="text-lg leading-normal text-gray-800">
          <section id="steckbrief" class="mb-8">
            <h2 class="mb-2 text-2xl font-bold text-gray-800">Steckbrief</h2>
            <ul>
              <li>
                <strong>Wissenschaftlicher Name:</strong> <i> Mantis religiosa </i> L., 1758
              </li>
              <li>
                <strong>Ordnung:</strong> <em><a href="https://de.wikipedia.org/wiki/Mantodea"
                    target="_blank">Fangschrecken (Mantodea)</a></em>
              </li>
              <li>
                <strong>Größe:</strong> <em>Weibchen 7 cm, Männchen 5-6 cm</em>
              </li>
              <li>
                <strong>Lebensraum:</strong> <em>Offene Grasfluren, Brachen, Ruderalflächen, Gärten</em>
              </li>
              <li>
                <strong>Verbreitung:</strong> <em>Europa, Asien, Afrika</em>
              </li>
              <li>
                <strong>Lebensweise:</strong> <em>Räuberisch</em>
              </li>
              <li>
                <strong>Ernährung:</strong> <em>vorwiegend Insekten und Spinnentiere</em>
              </li>
            </ul>
          </section>
          <section id="ueberblick" class="mb-8">
            <h2 class="mb-2 text-2xl font-bold text-gray-800">Überblick</h2>
            <p>

              Das Verbreitungsgebiet der Europäischen Gottesanbeterin
              erstreckt sich vom südlichen Europa von Portugal über
              Spanien, Frankreich, Italien, über den Balkan, in die
              Türkei bis nach Asien. Auch in Afrika kommt die
              Gottesanbeterin vor. Ursprünglich wurde sie nur in
              Rheinland-Pfalz, Baden- Württemberg und im Saarland
              gefunden, aber seit den 1990er Jahren breitet sie sich
              allmählich Richtung Norden aus. Seit 1998 ist eine
              stabile, isolierte Population in Berlin-Schöneberg
              bekannt, und die erste Gottesanbeterin in Brandenburg
              wurde 2007 gefunden. Aktuell ist die Fangschrecke in der
              Südhälfte Brandenburgs recht weit verbreitet, in den
              nördlichen Landkreisen hingegen liegen erst seit Kurzem
              vereinzelte Meldungen vor. Auch in Berlin wird die Art
              immer häufiger nachgewiesen. Es gibt aber immer noch
              Verbreitungslücken, daher zählt nach wie vor jede
              Meldung.
            </p>
            <img loading="lazy"class="mb-4 rounded" src="{{ url_for('static', filename='images/mantis--weibchen__krueger.webp') }}"
              alt="Mantis religiosa hunting">
            <p>Bildquelle: Krüger B. 2005</p>
          </section>
          <section id="habitat" class="mb-8">
            <h2 class="mb-2 text-2xl font-bold text-gray-800">Habitat</h2>
            <blockquote>
              <p>
                Die Gottesanbeterin ist eine wärmeliebende Art und
                bevorzugt sonnige Lebensräume, wie offene Grasfluren
                mit strukturgebenden Stauden, Brachen und
                Ruderalflächen. Überraschend oft findet man sie auch
                in Gärten und innerhalb von Ortschaften und
                Städten. In geschlossenen Wäldern wird man sie
                hingegen nicht finden.
              </p>
            </blockquote>
          </section>
          <section id="verbreitungsgebiet">
            <h2 class="mb-2 text-2xl font-bold text-gray-800">Verbreitungsgebiet</h2>
            <p>
              Das Verbreitungsgebiet der Europäischen Gottesanbeterin
              erstreckt sich vom südlichen Europa von Portugal über
              Spanien, Frankreich, Italien, über den Balkan, in die
              Türkei bis nach Asien. Auch in Afrika kommt die
              Gottesanbeterin vor. Ursprünglich wurde sie nur in
              Rheinland-Pfalz, Baden- Württemberg und im Saarland
              gefunden, aber seit den 1990er Jahren breitet sie sich
              allmählich Richtung Norden aus. Seit 1998 ist eine
              stabile, isolierte Population in Berlin-Schöneberg
              bekannt, und die erste Gottesanbeterin in Brandenburg
              wurde 2007 gefunden. Aktuell ist die Fangschrecke in der
              Südhälfte Brandenburgs recht weit verbreitet, in den
              nördlichen Landkreisen hingegen liegen erst seit Kurzem
              vereinzelte Meldungen vor. Auch in Berlin wird die Art
              immer häufiger nachgewiesen. Es gibt aber immer noch
              Verbreitungslücken, daher zählt nach wie vor jede
              Meldung.
            </p>
          </section>
          <section id="lebenszyklus" class="mb-8">
            <h2 class="mb-2 text-2xl font-bold text-gray-800">Lebenszyklus</h2>
            <p>
              Die Gottesanbeterin durchläuft in ihrem Leben mehrere
              Stadien. Nach der Paarung legt das Weibchen ihre Eier in
              einem speziellen Schaumnest, der Oothek, ab. In unseren
              Breiten überwintert die Oothek, die erwachsenen
              Gottesanbeterinnen sterben im Winter. Aus diesen Eiern
              schlüpfen im Mai/ Juni die Nymphen, die bereits wie
              kleine Gottesanbeterinnen aussehen. Sie durchlaufen
              mehrere Häutungen, bis sie schließlich zu erwachsenen
              Tieren heranwachsen.
            </p>
          </section>
          <section id="bestimmung" class="mb-8">
            <h2 class="mb-2 text-2xl font-bold text-gray-800">Bestimmungsschlüssel</h2>
            <p>
	      Kein Muß, aber wenn Sie im Meldeformular die korrekte Zordnung eintragen wollen,
	      können sie mit Hilfe des Bestimmungsschlüssels ermitteln, ob es sich um eine
	      Oothek, Nympfe, ein adultes Weibchen bzw. Männchen handelt.
              <br />
                <a href="/bestimmung" target="_blank"
                  class="text-green-500 underline hover:text-green-400">Bestimmungsschlüssel</a>
            </p>
          </section>
          <section id="beobachtungstipps" class="mb-8">
            <h2 class="mb-2 text-2xl font-bold text-gray-800">Beobachtungstipps</h2>
            <p>
              Die Gottesanbeterin ist tagsüber aktiv und kann bei
              ruhigem und vorsichtigem Herangehen gut beobachtet
              werden. Besonders gut lassen sie sich in den
              Morgenstunden finden, wenn sie sich an sonnigen Plätzen
              aufwärmen. Mit ihrer grünen bis braunen Färbung sind sie
              jedoch perfekt getarnt und nicht leicht zu entdecken.
            </p>
          </section>
          <section id="#meldeformular" class="mb-8">
            <h2 class="mb-2 text-2xl font-bold text-gray-800">Weiterführende Links</h2>
            <ul class="text-green-500 underline">
              <li class="hover:text-green-600">
                <a href="https://www.bkmakro.de/Makro/Mantiden/MR.htm" target="_blank"
                  class="hover:text-green-400">Mantidenfreunde</a>
              </li>
              <li class="hover:text-green-600">
                <a href="https://www.naturkundemuseum-potsdam.de/gottesanbeterin-gesucht" target="_blank"
                  class="hover:text-green-400">Naturkundemuseum-Potsdam</a>
              </li>
              <li class="hover:text-green-600">
                <a href="https://www.nabu.de/tiere-und-pflanzen/insekten-und-spinnen/sonstige-insekten/21589.html"
                  target="_blank" class="hover:text-green-400">NABU - Gottesanbeterin</a>
              </li>
              <li class="hover:text-green-600">
                <a href="https://de.wikipedia.org/wiki/Europ%C3%A4ische_Gottesanbeterin" target="_blank"
                  class="hover:text-green-400">Wikipedia Gottesanbeterin</a>
              </li>
            </ul>
          </section>
          <section id="meldeformular" class="p-4 mt-8 bg-green-200 rounded-lg shadow-lg">
            <div class="flex flex-col items-center justify-between md:flex-row">
              <div class="mb-4 md:mb-0">
                <h2 class="mb-2 text-2xl font-bold text-gray-800">Meldeformular</h2>
                <p class="text-gray-700">
                  Haben Sie eine Gottesanbeterin gesichtet? Helfen Sie
                  uns, die Verbreitung dieser faszinierenden Art
                  besser zu dokumentieren, indem Sie Ihre Beobachtung
                  melden. Nutzen Sie dazu unser einfaches
                  Meldeformular.
                </p>
              </div>
              <a class="inline-block px-6 py-3 mt-4 text-lg font-semibold text-white transition-colors duration-200 bg-green-600 border border-transparent rounded-full shadow-lg hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
                href="{{ url_for('data.report') }}">Meldeformular</a>
            </div>
          </section>
        </div>
      </div>
  </div>
  </article>
  </div>
</main>

<style>
  @media (max-width: 767px) {
    .order-2 {
      order: -1;
    }
  }
</style>

{% endblock content %}
