{% extends "layout.html" %}
{% block title %}Fundmeldungen 2023{% endblock title %}
{% block page_title %}Auswertungen der Beobachtungen | Mantis Religiosa Mitmachprojekt | Gottesanbeterin Gesucht{% endblock %}
{% block meta_keywords %} Auswertungen, Karte,
Gottesanbeterin, Mantis religiosa Auswertungen {% endblock %}
{% block meta_description %} Schauen Sie sich die Auswertungen von Gottesanbeterin Beobachtungen in Deutschland an. {% endblock %}
{% block text %} Übersicht zu allen bestätigten Meldungen. {% endblock text %}
{% block content %}
<section class="container mx-auto mt-10">
  <div class="flex justify-center">
    <p class="flex items-center inline-block p-4 my-4 space-x-2 text-black bg-white border border-gray-200 rounded-lg shadow-lg">
      <span class="flex items-center text-2xl">
        🔒
        <span class="w-px h-5 mx-3 bg-gray-300"></span>
      </span>
      Die Position der Marker kann von den gemeldeten Koordinaten abweichen (Datenschutz).
    </p>
  </div>

  <div class="container flex flex-row p-6">
    <div id="map" class="object-fill h-screen bg-white rounded-lg shadow-md grow auto-rows-max"></div>
  </div>
</section>


<!-- Animated counter section -->
<section class="py-16 bg-gray-100">
  <div class="container px-4 mx-auto">
    <div class="relative px-8 py-12 bg-green-800 rounded-lg shadow-2xl">
      <h2 class="mb-8 text-3xl font-bold leading-tight text-center text-white">
        Wir haben bereits <br />
        <span class="font-extrabold text-white text-7xl counter" data-target="{{ post_count }}">0</span>
        <br />
        Meldungen erhalten
      </h2>
      <p class="mb-8 text-xl text-center text-white">
        Helfen Sie uns, diese Zahl zu erhöhen!
      </p>
    </div>
  </div>
</section>

<style>
  /* css to customize Leaflet default styles  */
/* Adjust the popup wrapper */
.leaflet-popup-content-wrapper {
  background: rgba(22, 101, 52, 0.8);  /* semi-transparent background */
  border-radius: 12px;  /* rounded corners */
  color: #ffffff;  /* text color */
  font-family: 'Arial', sans-serif;  /* font style */
  opacity: 0;  /* start with transparent */
  animation: fadeIn ease 1s;  /* fade-in animation */
  animation-fill-mode: forwards;  /* keep the end state */
}


/* Adjust the popup tip */
.leaflet-popup-tip {
  background: rgba(22, 101, 52, 0.8);  /* semi-transparent background */
}

/* Add some padding to the popup content */
.leaflet-popup-content {
  padding: 10px;  /* internal padding */
}

/* Make strong text stand out */
.leaflet-popup-content strong {
  display: block;  /* make it block-level */
  margin-bottom: 10px;  /* add some margin at the bottom */
  font-size: 1.2em;  /* increase the font size */
}

/* Add some spacing between lines */
.leaflet-popup-content br {
  margin-bottom: 5px;
  display: block;  /* make it block-level */
  
}


/* Fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
  </style>
  


<script>
  const counter = document.querySelector('.counter');
  const target = Math.min(+counter.dataset.target, {{ post_count }});
  const duration = 2500; 

  let startTime = null;

  function easeOutExpo(time, b, c, d) {
    return c * (-Math.pow(2, -10 * time / d) + 1) + b;
  }

  function animate(currentTime) {
    if (startTime === null) startTime = currentTime;
    const elapsedTime = currentTime - startTime;
    const progress = Math.min(elapsedTime / duration, 1);

    const count = Math.floor(easeOutExpo(progress, 0, target, 1));
    counter.innerText = count;

    if (elapsedTime < duration) {
      requestAnimationFrame(animate);
    } else {
      counter.innerText = target; // Ensure it ends on the target
    }
  }

  const observer = new IntersectionObserver(entries => {
    if (entries[0].isIntersecting) {
      requestAnimationFrame(animate);
      observer.disconnect();
    }
  });

  observer.observe(counter);



  let map;
  let userMarker;
  mapApiKey = "{{apikey}}"
  
  function initMap() {
    // Define the boundary box for Germany
    const germanyBounds = [
      [47.270111, 5.866342],
      [55.058347, 15.041896]
    ];
    

    map = L.map('map', {
      renderer: L.canvas(),
      maxBounds: germanyBounds,
      maxBoundsViscosity: 1.0
    }).setView([51.991649, 13.080113], 9);

    const openStreetMapLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 12,
    });

    const arcGISLayer = L.esri.Vector.vectorBasemapLayer("ArcGIS:Imagery", {
      apikey: mapApiKey // API key for ArcGIS
    });

    map.addLayer(openStreetMapLayer);

    var baseMaps = {
      "Karte": openStreetMapLayer,
      "Satellit": arcGISLayer
    };

    L.control.layers(baseMaps).addTo(map);

    var markers = L.markerClusterGroup({
      showCoverageOnHover: false,
    });

    var reports = JSON.parse('{{ reportsJson | safe }}');
  
    reports.forEach(report => {
      const marker = L.marker([report.latitude, report.longitude]);

marker.bindPopup("Loading..."); // initial message

marker.on('popupopen', function(e) {
  // Fetch data dynamically
  fetch(`/get_marker_data/${report.id}`)
  .then(response => response.json())
  .then(data => {
      let popupContent = `<strong>Melde ID: ${data.id}</strong>`;
      
      if (data.dat_meld) {
          popupContent += `<br>Melde Datum: ${data.dat_meld}`;
      }
      
      if (data.dat_fund_von) {
          popupContent += `<br>Fund Datum: ${data.dat_fund_von}`;
      }
      
      if (data.ort) {
          popupContent += `<br>Ort: ${data.ort}`;
      }
      
      if (data.kreis) {
          popupContent += `<br>Kreis: ${data.kreis}`;
      }

      e.popup.setContent(popupContent);
  })
  .catch(error => {
      e.popup.setContent("Failed to load data");
  });
});

markers.addLayer(marker);
    });

    map.addLayer(markers);

    // Zoom restrictions
    const MAX_ZOOM_LEVEL = 12;
    const MIN_ZOOM_LEVEL = 6;
    map.on('zoomend', function() {
      if (map.getZoom() > MAX_ZOOM_LEVEL) {
        map.setZoom(MAX_ZOOM_LEVEL);
      }
      if (map.getZoom() < MIN_ZOOM_LEVEL) {
        map.setZoom(MIN_ZOOM_LEVEL);
      }
    });
  };

  initMap();
</script>

{% endblock content %}

